.trocar-foto {
  width: $grid-1-mobile + $meio-grid-mobile / 2;
  height: $grid-1-mobile + $meio-grid-mobile / 2;
  border-radius: 50%;
  border: 2px solid $white;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $grey-light;
  position: absolute;
  right: -$meio-grid-mobile / 2;
  bottom: -$meio-grid-mobile / 2;
  cursor: pointer;

  .trocar-foto__icone {
    background-image: url(../img/icon-camera.svg);
    width: $meio-grid-mobile + 3;
    height: $meio-grid-mobile;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}