.radio-pontuacoes {
  display: flex;
  justify-content: space-between;

  .pontuacao {
    height: $grid-1-mobile + $meio-grid-mobile;
    width: $grid-4-mobile;
    border-radius: $radius-normal;
    border: 1px solid $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    .radio-pontuacoes__input {
      display: none;
    }
  
    .pontuacao__estrela {
      display: block;
      background-image: url(../img/icon-estrela-desativada.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: $grid-1-mobile; 
      height: $grid-1-mobile;
      margin-right: $meio-grid-mobile / 2;
    }
  
    .pontuacao__numero {
      font-family: $font-primary;
      color: $grey;
      margin-top: 4px;
    }
  }
  
  .pontuacao.ativo {
    border: 2px solid $warning;

    .pontuacao__estrela {
      background-image: url(../img/icon-star.svg);
    }
    .pontuacao__numero {
      color: $dark;
    }
  }
}

@media only screen and (min-width: $mobile-up) {
  .radio-pontuacoes {
    
    .pontuacao {
      width: $grid-3-tablet - 10;
      height: $grid-1-tablet;
      border-radius: $radius-normal * 2;

      .pontuacao__estrela {
        width: $meio-grid-tablet; 
        height: $meio-grid-tablet;
        margin-right: $meio-grid-mobile / 2;
      }
    
      .pontuacao__numero {
        font-size: $title-5;
      }

    }
  }
}