.icon {
    display: inline-block;
}

.icon-coins {
    background-image: url(../img/icon-moedas.png);
    width: 14px;
    height: 14px;
    background-size: contain;
}

.icon-star {
    background-image: url(../img/icon-star.svg);
    width: 14px;
    height: 14px;
    background-size: contain;
}