$primary: #0984E3;
$primary-light: #74B9FF;
$primary-lighter: "";
$primary-dark: "";
$primary-darker: "";

$secondary: "";
$secondary-light: "";
$secondary-lighter: "";
$secondary-dark: "";
$secondary-darker: "";

$dark: #2D3436;
$dark-transparent: rgba(45, 52, 54,.5);
$light: "";

$black: #000;
$white: #fff;

$grey: #B2BEC3;
$grey-dark: #636E72;
$grey-light: #DFE6E9;

$warning: #FDCB6E;
$warning-light: #FFEAA7;

$danger: #ff7675;
$danger-dark: #d63031;

$success-dark: #00b894;
$success: #55efc4;
$success-light: #00cec9;
$success-lighter: #81ecec;

$purple: #a29bfe;
$purple-dark: #6c5ce7;

$pink: #fd79a8;
$pink-dark: #e84393;

$orange: #e17055;
$orange-light: #fab1a0;